<style>
  .spacing-div-5 {
    height: 5px; /* 20px 높이의 빈 공간 */
  }
  .spacing-div-10 {
    height: 10px; /* 20px 높이의 빈 공간 */
  }
  .spacing-div-15 {
    height: 15px; /* 20px 높이의 빈 공간 */
  }
  .image-caption {
    color: grey; /* 글씨 색상을 회색으로 설정 */
    font-size: small; /* 글씨 크기를 작게 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin-top: 10px; /* 이미지와의 상단 여백 설정 */
  }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<footer class="footer">
  <div class="wrap">
    <div class="footer-item">
      <h2>Seonuk Kim <a href="https://clustrmaps.com/site/1by5m" title="Visit tracker"></a></h2>
      <div class="spacing-div-5"></div>
      <p><a href="mailto:seonukkima@gmail.com">seonukkima (at) gmail.com</a></p>
    </div>
    <div class="footer-item">


    </div>
    <div class="footer-item">
      <div class="spacing-div-5"></div>
      <a href="https://github.com/seonukkim">
        <i class="fab fa-github"></i> seonukkim
      </a>
      <div class="spacing-div-15"></div>
      <a href="https://www.linkedin.com/in/seonuk-kim/">
        <i class="fab fa-linkedin"></i> seonuk-kim
      </a>
    </div>
  </div>
</footer>