---
layout: default
---
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<h1 class="page-title">{{page.title}}</h1>

<p style="font-size: 11pt; line-height: 160%;">
    <a href="https://scholar.google.co.kr/citations?user=NdQnY2UAAAAJ" target="_blank">
        <span style="font-size:100%"><i class="fas fa-graduation-cap"></i></span> google scholar</a> or&nbsp;
    <a href="https://www.semanticscholar.org/author/Seonuk-Kim/2255748355" target="_blank">
        <span style="font-size:100%"><i class="fas fa-book-reader"></i></span> semantic scholar</a> for an up-to-date list<br>
    * : equal contribution
</p>
{% include list_publications.html %}


